/*-----------------------------------FOOTER-----------------------------------------*/

/*........nav footer.............*/
.F{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    
    .listaFooter{
        display: flex;
        flex-direction: column;
        width: 125px;
        height:350px;
        
        
        .listaFooter__li{
            list-style:none;
            font-family:'Oswald', sans-serif ;
            font-size: 25px;
            padding-top: 15px; 
            position: relative;
            color: $colorLetras;
            text-decoration: none;

            &::after{
                content: "";
                position: absolute;
                background-color: $colorSecundario;
                height: 3px;
                width: 0;
                left: 0;
                bottom: 0;
                transition: all 500ms;
                
            }

            &:hover::after{
                width: 100%;
            }

        }

        a:visited, a:link, a:active{
            text-decoration:none; 
            color: $colorLetras;
        }
        
    }


    .PieDePagina{
        font-size: 15px;
        color:$colorLetras;
        position: absolute;
        right: 30px;
    }

    .redes{
    
        width: 100%;
        margin-bottom: 50px;
        
        display: flex;
        flex-wrap: wrap;
        
        justify-content: center;

        i{
            color: $colorLetras;
            padding: 35px;
            font-size: 25px;
            transition: all 500ms;
        }

        .bi-facebook{
            transition: all 500ms;
        }
        .bi-facebook:hover{
            text-shadow: 0px 0px 20px #80aaff;
            color: #80aaff; 
        }

        .bi-twitter{
            transition: all 500ms;
        }
        .bi-twitter:hover{
            text-shadow: 0px 0px 20px #1DA1F2;
            color: #1DA1F2; 
        }

        .bi-instagram{
            transition: all 500ms;
        }
        .bi-instagram:hover{
            text-shadow: 0px 0px 20px #C13584;
            color: #C13584; 
        }

        i:hover{
            font-size: 35px;
        }

        .cont_redes{
            width: 100%px;
        }
        .texto-redes{
            width: 100%;
            font-size: 25px;
            color: $colorLetras;
            text-align: center;
            padding-bottom: 10px;
        }
         
    }
}


/*........redes.............*/

/*........copy.............*/


