/*-----------------------------------FOOTER-----------------------------------------*/

/*........nav footer.............*/
.F{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;

    .listaFooter{
        display: flex;
        flex-direction: column;
        width: 125px;
        height:350px;
        
        
        .listaFooter__li{
            list-style:none;
            font-family:'Oswald', sans-serif ;
            font-size: 25px;
            padding-top: 15px; 
            position: relative;
            color: $colorLetras;
            text-decoration: none;

            &::after{
                content: "";
                position: absolute;
                background-color: $colorSecundario;
                height: 3px;
                width: 0;
                left: 0;
                bottom: 0;
                transition: all 500ms;
                
            }

            &:hover::after{
                width: 100%;
            }

        }

        a:visited, a:link, a:active{
            text-decoration:none; 
            color: $colorLetras;
        }
        
    }

    

    .PieDePagina{
        font-size: 15px;
        color:$colorLetras;
        position: absolute;
        right: 30px;
    }
}


/*........redes.............*/
.redes{
    
    width: 300px;
    margin-bottom: 50px;
    padding-left: 30px;
}

.logos{
    width: 40px;
    transition: width 1s;
    padding-right:10px;
}

.logos:hover{
    width: 60px;
}

/*........copy.............*/
