/*-----------------------------------MAIN-----------------------------------------*/

/*........imagenes.............*/
main{
    margin: auto;
}

.imagenes{
    animation-duration: 2s;
}

.img2{
    width: 100%;
    height: 1000px;
    padding-top: 40px;
}
.img3{
    width: 100%;
    height: 600px;
    
}
.img4{
    width: 100%;
    height: 600px;
}

/*........texto.............*/

.texto{
    color: $colorLetras;
    font-family:'Oswald', sans-serif ;
    font-size: 30px;
    padding-left: 150px ;
    padding-right: 150px;
    padding-top: 30px;
    animation-duration: 2s;
}

/*........subtitulo.............*/
.subtitulo{
    .contenedor-sub{
        width: 100%;
        min-height: 100px;
        
        .titulo_sub{
            width: 100%;
            height: 100px;
            overflow: hidden;
            
            .texto-subtitulo{
                font-family: 'Oswald', sans-serif;
                font-size: 75px;
                color: $colorLetras;   
            }
        }
        .subtitulo__info{
            height: 0px;
            overflow: hidden;
            transition: all 500ms ease;
        
            .texto-main{
                color: $colorLetras;
                font-family:'Oswald', sans-serif ;
                font-size: 25px;
                padding-left: 10px;
            }
        }
    }
    .contenedor-sub:hover .subtitulo__info{
        height: 200px;
    }
}

