/*-----------------------------------MOBILE-----------------------------------------*/


@media screen and (max-width: 500px){
    /*.........header.............*/
    header {
        .inicioTitulo{
            width: 100%;
            position: absolute;
            left: 2px;
            top:400px;
            text-align: center;
           
        }
        .a_titulo{
            font-family: 'Bebas Neue';
            font-size: 50px;
            
        }

        .boton_inicio{
            width: 100px;
            position: absolute;
            left: 2px;
            top: 10px;
        }

        .menu{
            position:initial;
            width: 400px;
        }

        .menu__li{
            font-size: 20px;
            padding: 5px;
            padding-bottom: 0;
            padding-top: 10px;
            position: relative;
        }

        .titulo2{
            font-family: 'Bebas Neue', cursive;
            color:$colorLetras;
            font-size: 60px;
            position: absolute;
            top: 480px;
            text-align: center;
            animation:fadeIn ;
            animation-duration: 3s;
            
        }
    }
    /*..............main.................*/
    .subtitulo{
        .contenedor-sub{
            width: 100%;
            min-height: 100px;
            
            .titulo_sub{
                width: 100%;
                height: 100px;
                overflow: hidden;
                
                .texto-subtitulo{
                    font-family: 'Oswald', sans-serif;
                    font-size: 45px;
                    color: $colorLetras;   
                }
            }
            .subtitulo__info{
                height: 0px;
                overflow: hidden;
                transition: all 500ms ease;
            
                .texto-main{
                    color: $colorLetras;
                    font-family:'Oswald', sans-serif ;
                    font-size: 20px;
                    padding-left: 10px;
                }
            }
        }
    }
    .img2{
        width: 400px;
        height: 600px;
        padding-top: 20px;
        padding-left: 10px;
    }

    .img3{
        width: 370px;
        height: 400px;
        padding-top: 20px;
       
    }
    .img4{
        width: 370px;
        height: 400px;
        padding-top: 20px;
        padding-bottom: 20px;
      
    }
    .texto{
        color: $colorLetras;
        font-family:'Oswald', sans-serif ;
        font-size: 20px;
        padding-left: 15px ;
        padding-right: 15px;
        padding-top: 20px;
        text-align: center;
        animation-duration: 2s;
    }
    .main1{
        max-width: 400px;
        margin: auto;
        margin-top:20px;
        border-radius: 3px;
        border-color: rgb(209, 111, 31);
        box-shadow: 0 0 10px rgb(209, 111, 31);
        border-style: solid;
    }
    .main2{
        max-width: 400px;
        margin: auto;
        margin-top:20px;
        border-radius: 3px;
        border-color: rgb(209, 111, 31);
        box-shadow: 0 0 10px rgb(209, 111, 31);
        border-style: solid;
    }
    .main3{
        margin: auto;

    }
    /*..........................footer..........................*/
    .F{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;

        .listaFooter{
            display: flex;
            flex-direction: column;
            width: 125px;
            height:300px;
            
            .listaFooter__li{
                list-style:none;
                font-family:'Oswald', sans-serif ;
                font-size: 20px;
                padding-top: 15px; 
                position: relative;
                color: $colorLetras;
                text-decoration: none;
                text-align: start;
                
            }
        }

        .PieDePagina{
            font-size: 15px;
            color:$colorLetras;
            position: absolute;
            right: 30px;
            
        }

        .redes{
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content:start;
            
            
            
            i{
                color: $colorLetras;
                font-size: 20px;
                transition: all 500ms;
                padding-left:0;
               
               
            }

            .cont_redes{
                width: 50px;
            }

            .texto-redes{
                width: 400px;
                font-size: 20px;
                color: $colorLetras;
                text-align: start;
                padding-bottom: 5px;
                padding-left: 30px;
                
            }
        }
    }

    /*..........................Galeria..........................*/

    .galeria_container{
        display: grid;
        grid-template-columns: 380px;
        grid-template-rows: repeat(16,250px);
        
        justify-content: center;
        grid-template-areas:
        "img1"
        "img2"
        "img3" 
        "img4"
        "img5 "
        "img6"
        "img7 "
        "img8"
        "img9" 
        "img10"
        "img11" 
        "img12"
        "img13" 
        "img14"
        "img15" 
        "img16"
        ;
       margin: auto;
       margin-top: 15px;
       
    }
    .galeria__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation-duration: 4s;
        animation-name: aparecer;
        animation-iteration-count:initial;
        
    }

    .galeria__img:hover{
        transform: scale(1);
    }
    /*..........................Proyectos..........................*/

    .proyectos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20x;

        .proyectos__img{
            padding-top: 20px;
            width: 380px;
            height: 100%;
            animation: zoomIn;
            animation-duration: 2s;
        }

        .proyectos__texto{
            font-size: 20px;
            font-family:'Oswald', sans-serif ;
            width: 100%;
            text-align: center;
            padding: 10px;
           color:$colorLetras;
        }

        .a-video{
            position: absolute;
            left: 120px;
            bottom: 100px;
            font-size: 25px;
            font-family:'Oswald', sans-serif ;
            color: $colorLetras;
            text-decoration: none;
        }
    }
    /*..........................Obras..........................*/
    
    .obras__texto{
        font-size: 20px;
        animation: slideInUp;
        animation-duration: 2s;
        font-family:'Oswald', sans-serif ;
        color:$colorLetras;
        padding: 10px;
    }

    .obras__img{
        padding: 10px;
        width: 100%;
        animation: fadeIn;
        animation-duration: 4s;
        height: 350px;
    }
    /*..........................Contactos..........................*/

    .grid-contacto{
        display: grid;
        grid-template-areas: 
              "H "
              "mensaje"
              "form"
              "F" 
            ;
       grid-gap: 10px;  
       grid-template-columns: 380px;
       
    }
    .DejanosTuMensaje{
        font-size: 30px;
        grid-area: mensaje;
        text-align: start;
        margin: 0;
        padding: 0;
        color: $colorLetras;
    }

    .formulario{
        grid-area: form;
        margin: auto;
    
        .formulario__div{
            width: 380px;
            margin: 0px;
        }
    
        .formulario__label{
            width: 380px;
            height: 600px;
        }
    
        .formulario__input{
            width: 350px;
            height: 50px;
            padding: 10px;
            margin: 15px;
            border: 1px solid #ffffff;
            font-size: 20px;
            font-family: 'Oswald', sans-serif;
            background-color: #242020;
            color: #f0e0cb;
            animation: fadeInRight;
            animation-duration: 1s;
        }
    
        .mensaje{
            height: 150px;
        }
        
        .boton{
            position: relative;
            background-color: transparent;
            width: 150px;
            height: 50px;
            padding: 10px;
            margin: 10px;
            color: $colorLetras;
            border:2px solid $colorSecundario;
            transition: all 500ms;
            z-index: 0;
    
            &::before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                margin: auto;
                background-color: $colorSecundario;
                transition: all 500ms;
                z-index: -1;
            }
    
        }
    
        .boton1:hover{
            background-color: $colorSecundario ;
            box-shadow: 0 0 10px $colorSecundario, 0 0 20px $colorSecundario, 0 0 20px $colorSecundario;
            color: $colorLetras;
        }
        .boton2:hover{
            background-color: $colorSecundario ;
            box-shadow: 0 0 10px $colorSecundario, 0 0 20px $colorSecundario, 0 0 20px $colorSecundario;
            color: $colorLetras;
        }
    }

    /*..........................Sobre Mi..........................*/

    .sobreMi{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    
        .imagenPerfil{
            width:380px;
            height: 400px;
            margin: 20px;
            margin-bottom: 10px;
        }
        .textoSobreMi{
            width: 300px;
            height:600px;
            font-size: 20px;
            font-family:'Oswald', sans-serif ;
            text-align: center;
            margin: auto;
            margin-bottom: 10px;  
            animation-duration: 6s;
            animation-name: sobreMiTexto;
            animation-iteration-count: inherit;
            color:$colorLetras;
            overflow: scroll;
    
            @keyframes sobreMiTexto{
                0%{
                    opacity: 0;
                }
            
                100%{
                    opacity: 1;
                }
            }
        }
    
        
    }


}