/*_______________________________OBRAS_________________________________________*/

.obras__texto{
    font-size: 25px;
    animation: slideInUp;
    animation-duration: 2s;
    font-family:'Oswald', sans-serif ;
    color:$colorLetras;
}

.obras__img{
    padding: 10px;
    width: 100%;
    animation: fadeIn;
    animation-duration: 4s;
    height: 400px;
}