*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
$colorFondo:#242020;
$colorLetras:#f8e6d1;
$colorSecundario:rgb(209, 111, 31);

body{
    background-color: $colorFondo;
}

hr{
    color: $colorLetras;
   margin-top: 60px;
}
@import "header";
@import "main";
@import "footer";
@import "galeria";
@import "proyectos";
@import "sobremi";
@import "obras";
@import "contacto";
@import "mobile";

